<div id="left">
	<p>Copy and paste the whole html from the race report here:</p>
	<form method="post" action="/">
		<textarea name="data" cols="45" rows="10"><%= params[:data] %></textarea>
		<p>
			<input type="checkbox" name="comma" value="1" /> Use comma instead of period as decimal separator<br/>
			<small>( Useful for non-english MS Excel versions )</small>
		</p>
		<p>
			<input type="submit" />
		</p>
	</form>
	<p class="footer">
		OpenSource Software. <a href="http://github.com/andruby/f1time-tools">Sourcecode</a> - 
		<a href="http://www.andrewsblog.org">Andrewsblog</a>
	</p>
	<% if @csv_for_chart_1 %>
		<script type="text/javascript" src="amline/swfobject.js"></script>
		<div id="chart_1">You need to upgrade your Flash Player</div>
		<script type="text/javascript">
			var so = new SWFObject("amline/amline.swf", "amline", "400", "350", "8", "#FFFFFF");
			so.addVariable("path", "amline/");
			so.addVariable("settings_file", encodeURIComponent("chart_1_settings.xml"));
			so.addVariable("chart_data", encodeURIComponent("<%= @csv_for_chart_1 %>"));
			so.write("chart_1");
		</script>
	<% end %>
	<% if @csv_for_chart_2 %>
	<br/>
		<script type="text/javascript" src="amline/swfobject.js"></script>
		<div id="chart_2">You need to upgrade your Flash Player</div>
		<script type="text/javascript">
			var so = new SWFObject("amline/amline.swf", "amline", "400", "300", "8", "#FFFFFF");
			so.addVariable("path", "amline/");
			so.addVariable("settings_file", encodeURIComponent("chart_2_settings.xml"));
			so.addVariable("chart_data", encodeURIComponent("<%= @csv_for_chart_2 %>"));
			so.write("chart_2");
		</script>
	<% end %>
</div>

<div id="right">
<p>
	Select tabel, copy and paste into MS Excel as Unicode tekst<br/>
	<small>The cell format for the dayfraction is mm:ss<%= params[:comma] ? ',' : '.' %>000</small>
</p>
<p>
	GP of <%= h @gp_name %><br/>
	Median laptime: <%= h commatize(@median_laptime,params[:comma]) %>
</p>
<% if @lap_array %>
	<table class="classic" border="1" cellpadding="2">
		<tr class="header">
			<td>lap</td>
			<td>pos</td>
			<td>prev</td>
			<td>time</td>
			<td>time (dayfraction)</td>
			<td>time (s)</td>
			<td>gap (s)</td>
			<td>fuel</td>
			<td>temp</td>
			<td>delta median (s)</td>
		</tr>
		<tbody>
		<% for row in @lap_array %>
			<tr>
				<td><%= row.map{|x| h(x) }.join('</td><td>') %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
<% end %>
</div>